<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <div class="Login">
        <div class="Login_Form">
            <h1>Welcome</h1>
            <p><h1>This is our login page</h1></p>
            <br><br>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</body>

</html>